@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<form method="post"> 
    <div class="boxs">
        <label for="longUrlInput" class="box-title">Paste your long url</label>
        <input asp-for="LongUrl" id="longUrlInput" class="url-input" />        <div class="customize-container">
            <label class="switch">
                <input type="checkbox" id="customize-toggle">
                <span class="slider round"></span>
            </label>
            <label for="customize-toggle" class="customize-label">Customize your URL</label>
        </div>
        <div id="custom-url-box" style="display: none;">
            <div class="custom-input-group">
                <div class="label-container">
                    <span class="customize-label">https://Short-ly/</span>
                </div>
                <input asp-for="CustomCode" id="customizeLongUrl" class="url-input customize" />
            </div>
        </div>
        <button class="button">
            Shorten URL
        </button>
    </div>
</form>
@if (!string.IsNullOrEmpty(Model.ShortenedUrlResult))
{
    <div class="boxs" id="result-box">
        <label class="box-title">Shortened URL</label>
        <div class="custom-input-group">
            <a href="@Model.ShortenedUrlResult" target="_blank" class="result-link">
                @Model.ShortenedUrlResult
            </a>
            <button class="button customize-copy" type="button">
                Copy
            </button>
        </div>
    </div>
}