.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 3rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 1rem;
}

.box-title {
  color: #1d4360;
  font-family: "Mplus 1p Bold";
  font-size: 36px;
  font-weight: 700;
  text-align: left;
}

.customize-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.custom-input-group {
  display: flex;
  width: 100%;
}

.input-prefix {
  padding: 10px 15px;
  background-color: #d5e5d5;
  border: 1px solid #000;
  border-right: none;
  border-radius: 20px 0 0 20px;
  white-space: nowrap;
  color: #000;
  font-family: "Mplus 1p Bold";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-input-group .inputForm.customize {
  border-radius: 0 20px 20px 0;
}
.result-group {
  display: flex;
  align-items: center;
  gap: 10px;
}
.result-link {
  flex-grow: 1;
  height: 50px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 10px;
  color: #333;
  text-decoration: none;
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.result-link:hover {
  text-decoration: underline;
}

.button-action {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
