.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eef1da;
  height: 100px;
  padding: 0 40px;
  box-sizing: border-box;
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar-brand {
  text-decoration: none;
  color: #1d4360;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  font-family: "Mplus 1p Bold";
  font-size: 48px;
  font-weight: 700;
}

.nav-link {
  text-decoration: none;
  color: #1d4360;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 5px;
}

.nav-link:hover {
  text-decoration: underline;
  text-underline-offset: 8px;
}

.separator {
  color: #1d4360;
  font-size: 20px;
  font-weight: 500;
}
.logout-button {
  background-color: transparent;
  border: none;
  color: #1d4360;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
